name: test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: "corretto"
          java-version: "21"
      - name: build and test project
        run: |
          export EV_API_KEY="${{ secrets.EV_API_KEY }}"
          export EV_TEAM_UUID="${{ secrets.EV_TEAM_UUID }}"
          export EV_APP_UUID="${{ secrets.EV_APP_UUID }}"
          ./gradlew build
      - name: Upload unit test report on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: failed_unit_tests
          path: ${{ github.workspace }}/lib/build/reports/tests/test
